#waitting-mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
#waitting-boxes .window {
  position:fixed;
  left:0;
  top:0;
  display:none;
  z-index:9999;
  padding:20px;
}
#waitting-boxes #dialog {
  width:16px; 
  height:11px;
  background: url(../images/waitting.gif) no-repeat;
}