.block-products{
    &.block-products-default{
        .block-heading {
            @include block-heading;
        }

        .note{
            text-align: center;
            color: #777777;
            font-size: 16px;
            margin-bottom: 20px;
        }
    }

    &.block-products-module{
        padding: 30px 0;

        .block-heading {
            @include block-heading;
            margin-bottom: 40px;

            .heading {
                border-color: #ffffff;
            }
        }
    }
}