.block-news {
    &.block-news-default{
        .row-new-hot{
            margin-bottom: 20px;

            .col-lg-8{
                .col-news {
                    position: relative;
                    -webkit-user-select: none;
                    user-select: none;
                    overflow: hidden;
                    text-align: left;
                    border-radius: 4px;
                    transition: .3s ease;
                    background: #000;

                    .thumb {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        right: 0;
                        z-index: 9;
                        text-decoration: none;

                        img {
                            display: flex;
                            height: 100%;
                            float: right;
                        }
                    }

                    .bound-summary {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        z-index: 10;

                        .summary {
                            height: 100%;
                            width: 55%;
                            padding: 28px 48px 24px 24px;
                            box-sizing: border-box;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            background: linear-gradient(to left, transparent, #000 105px);
                        }
                    }

                }
            }

            .col-lg-4{
                .col-news {
                    position: relative;
                    -webkit-user-select: none;
                    user-select: none;
                    overflow: hidden;
                    text-align: left;
                    border-radius: 4px;
                    transition: .3s ease;
                    background: #000;

                    .bound-summary {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        z-index: 10;

                        .summary {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            height: 60%;
                            width: 100%;
                            padding: 28px 48px 24px 24px;
                            box-sizing: border-box;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            background: linear-gradient(to bottom, transparent, #000 105px);
                        }
                    }
                }
            }

            .col-news {
                .summary {
                    .heading{
                        margin: 0 0 7px 0;
                        font-size: 16px;
                        line-height: 1.5em;
                        color: #ffffff;

                        a{
                            color: #fff;
                            font-weight: bold;
                        }
                    }

                    p{
                        font-size: 14px;
                        line-height: 1.5em;
                        color: #fff;
                    }
                }
            }

        }
    }

    &.block-news-related {
        border-radius: 10px;
        padding: 20px 0 20px 24px;
        background: var(--content-background-linear);
        -webkit-box-shadow: var(--card-shadow);
        box-shadow: var(--card-shadow);
        color: --text-color;
        position: relative;
        z-index: -3;
        overflow: hidden;
        overflow: unset;
        padding-bottom: 8px;

        .blurWrapper{
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;

            &:after{
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 10px;
            }
        }

        .block-heading {
            font-weight: 600;
            color: var(--text-color);;
            font-size: 15px;
            text-transform: capitalize;
        }

        .block-content{
            scroll-behavior: smooth;
            padding-right:24px;
            margin-top: 20px;
        }

        .thumb{
            img{
                border-radius: 10px;
                width: 120px;
            }

            display: inline-block;
            float: left;
            margin-right: 12px;
        }

        .heading{
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            letter-spacing: .4px;
            font-size: 16px;
            line-height: 24px;
            font-weight: bold;

            a{
                color: var(--text-title-post-color)!important;
                text-decoration: none;
            }
        }

        .post-tiny{
            margin-bottom: 20px;

            &:after {
                display: block;
                content: "";
                clear: both;
            }
        }
    }

    &.block-news-aside {
        border-radius: 10px;
        padding: 20px 0 20px 24px;
        background: var(--content-background-linear);
        -webkit-box-shadow: (--card-shadow);
        box-shadow: (--card-shadow);
        color: --text-color;
        position: relative;
        z-index: -3;
        overflow: hidden;
        overflow: unset;
        padding-bottom: 8px;

        .blurWrapper{
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;

            &:after{
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 10px;
            }
        }

        .block-heading {
            font-weight: 500;
            color: #a19f9f;
            font-size: 15px;
            text-transform: capitalize;
        }

        .block-content{
            scroll-behavior: smooth;
            padding-right:24px;
            margin-top: 20px;

            .grid-item{
                background: transparent;
    
                .creator{
                    display: none !important;
                }

                .info{
                    padding-left: 0;
                    padding-right: 0;
                }

                .thumb{
                    height: 180px;
                }
            }
        }
    }

    &.block-news-latest{
        margin-bottom: 30px;

        .block-content{
            position: relative;
            max-height: 520px;
            overflow: hidden;
            border-radius: 10px;
        }

        .post-slider-for{
            img.img-bg{
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
            }

            .post-slider-for-info{
                position: relative;
                width: 67%;
                border-radius: 10px;
                overflow: hidden;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }

                .heading{
                    width: 85%;
                    padding: 24px;
                    position: absolute;
                    left: 50%;
                    bottom: 32px;
                    -webkit-transform: translate(-50%);
                    transform: translate(-50%);
                    display: -webkit-flex;
                    display: -moz-box;
                    display: flex;
                    -webkit-justify-content: space-between;
                    -moz-box-pack: justify;
                    justify-content: space-between;
                    -webkit-flex-direction: column;
                    -moz-box-orient: vertical;
                    -moz-box-direction: normal;
                    flex-direction: column;
                    color: var(--text-fill-slide);
                    z-index: 1;

                    a{
                        font-size: 33px;
                        line-height: 48px;
                        font-weight: 500;
                        margin-top: 0;
                        text-decoration: none;
                        color: var(--text-fill-slide);
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        z-index: -1;
                        backdrop-filter: var(--blur-background2);
                        -webkit-backdrop-filter: var(--blur-background2);
                        -webkit-box-shadow: 0 1px 2.4rem 0 rgb(0 0 0 / 10%);
                        box-shadow: 0 1px 2.4rem 0 rgb(0 0 0 / 10%);
                        background-image: var(--background-fill);
                        border-radius: 10px;
                    }
                }
            }
        }

        .slider-nav-bound{
            position: absolute;
            right: 0;
            width: 33%;
            top: 0;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            backdrop-filter: blur(8px);
            -webkit-backdrop-filter: blur(8px);
            background-color: var(--background-banner-blur);
            height: 100%;
            padding: 24px;

            .post-slider-nav{
                flex-wrap: nowrap!important;
                border-radius: 10px;
                width: 100%;
                margin-bottom: 18px;

                .thumb{
                    width: 120px;
                    align-items: center;
                    overflow: hidden;
                    border-radius: 10px;
                    display: inline-block;
                    margin-right: 24px;
                    float: left;

                    img{
                        -webkit-transition: all .2s;
                        transition: all .2s;
                        object-fit: cover;
                    }
                }

                .heading{
                    justify-content: center;

                    a{
                        font-size: 16px;
                        line-height: 24px;
                        -webkit-line-clamp: 2;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-break: break-word;
                        letter-spacing: .4px;
                        color: var(--text-title-post-color);
                        text-decoration: none;
                    }
                }

                &:hover{
                    img{
                        -webkit-transform: scale(1.2);
                        transform: scale(1.2);
                    }
                }
            }
        }

        @media (max-width: 768px){
            .slider-nav-bound{
                position: unset;
                width: unset;
                height: unset;
            }

            .post-slider-for-info{
                width: unset !important;

                .heading{
                    bottom: 15px !important;
                    padding: 10px !important;
                    font-size: 17px !important;

                    a{
                        font-size: 17px !important;
                    }
                }
            }
        }
    }

    &.block-news-grid{
        .block-heading{
            @include block-heading;
        }
    }

    &.block-news-list{
        .block-heading{
            @include block-heading;
        }
    }

    &.block-news-list2{
        .list-item{
            background: transparent;
            box-shadow: none;

            .info{
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
    }
}