@mixin after-icon($whidth, $height, $top: 0, $left: 0, $x: left, $y: top){
    position: relative;

    &:after{
        display: block;
        content: "";
        position: absolute;
        width: $whidth;
        height: $height;
        top: $top;
        left: $left;
        background: $x $y url("../images/sprinter.png") no-repeat;
    }
}

@mixin block-heading{
    text-align: center;
    font-size: 38px;
    color: var(--text-title-color);
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 20px;

    a{
        color: var(--text-title-color);
        text-decoration: none;

        &:hover{
            color: var(--text-hover-link);;
        }
    }
}

@mixin post-creator {
    display: -webkit-flex;
        display: -moz-box;
        display: flex;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        justify-content: space-between;
        -webkit-align-items: center;
        -moz-box-align: center;
        align-items: center;
        margin-top: 24px;

        .align-items-center{
            -webkit-align-items: center!important;
            -moz-box-align: center!important;
            align-items: center!important;

            a {
                text-decoration: none;
                color: var(--text-author-color);
                font-size: 14px;
            }

            .rounded-circle{
                width: 26px;
                height: 26px;
                object-fit: cover;
                border-radius: 50%;
            }

            .aic-dot{
                width: 4px;
                height: 4px;
                border-radius: 50%;
                margin-left: 16px;
                background-color: var(--text-description-color);
            }

            .aic-date {
                font-size: 14px;
                margin-left: 8px;
                color: var(--text-description-color);
            }
        }
}

:root{
    --ck-border-radius: 12px!important;
    --background-color: #11100f;
    --background-general: #100f0e;
    --background-section: #252423;
    --background-thumbnail: rgba(26,26,26,0.7);
    --background-thumbnail-firefox: #1a1a1a;
    --card-background-linear: linear-gradient(90deg,hsla(0,0%,42%,0.2),rgba(38,38,38,0.6));
    --card-background-firefox: #262626;
    --background-modal-firefox: #262626;
    --background-modal-backdrop-firefox: rgba(50,49,48,0.8);
    --content-background-linear: linear-gradient(90deg,hsla(0,0%,42%,0.1),rgba(38,38,38,0.3));
    --background-content-post: linear-gradient(180deg,rgba(64,63,63,0.2),rgba(57,56,56,0.26) 14%,#11100f 98%);
    --background-search-portal: linear-gradient(104deg,hsla(0,0%,100%,0.05) 32%,hsla(0,0%,94.1%,0.06) 51%);
    --background-btn-search-portal: linear-gradient(138deg,hsla(0,0%,100%,0.05) 34%,hsla(0,0%,94.1%,0.06) 63%);
    --background-hot-item-portal: #1f1f1f;
    --background-portal-result-news: linear-gradient(164deg,hsla(0,0%,100%,0.03) 38%,hsla(0,0%,94.1%,0.04) 88%);
    --background-header-portal: linear-gradient(98deg,hsla(0,0%,100%,0) 32%,hsla(0,0%,94.1%,0.05) 50%);
    --background-footer-portal: linear-gradient(106deg,hsla(0,0%,100%,0) 32%,hsla(0,0%,94.1%,0.05) 51%);
    --background-dropdown-portal: linear-gradient(155deg,hsla(0,0%,100%,0.05) 36%,hsla(0,0%,94.1%,0.06) 78%);
    --background-dropdown-search-portal: linear-gradient(118deg,rgba(25,25,25,0.05) 33%,rgba(45,44,44,0.06) 54%);
    --background-sidebar-portal: linear-gradient(175deg,hsla(0,0%,100%,0.05) 40%,hsla(0,0%,94.1%,0.06) 98%);
    --background-preview: rgba(0,0,0,0.0001);
    --background-dropdown-menu-header: linear-gradient(0deg,rgba(0,0,0,0.2),rgba(19,19,19,0.6));
    --background-dropdown-shadow: 10px 7px 64px 2px rgba(0,0,0,0.49);
    --background-footer: linear-gradient(180deg,#272625,rgba(19,19,19,0.86) 99%);
    --background-carousel: radial-gradient(center,rgba(13,12,11,0.69),rgba(0,0,0,0.7) 10%,#161514 80%);
    --background-after-card-content: #161514;
    --bg-tag-item: #cfb160;
    --bg-dropdown: #323130;
    --bg-firefox: #222120;
    --bg-line-author-page: #323130;
    --bg-menu-platform-hover: #52514f;
    --bg-menu-edit-text: #323130;
    --bg-new-form-login: rgba(24,24,24,0.8);
    --bg-screen-authen: #100f0e;
    --bg-cover-catalogue: transparent;
    --bg-sidebar-item-profile: linear-gradient(180deg,hsla(0,0%,84.7%,0) 2%,#a8a8a8);
    --bg-card-profile: #232221;
    --box-background-linear: linear-gradient(90deg,rgba(86,86,86,0.4),hsla(0,0%,75.7%,0.1));
    --opacity-blur-news: 0.25;
    --background-blur-news-wrap: linear-gradient(270deg,rgba(0,0,0,0.2) 100%,rgba(19,19,19,0.6) 0);
    --background-blur-news: radial-gradient(#fff,#5d5858 33%);
    --background-blur: linear-gradient(90deg,rgba(86,86,86,0.38),hsla(0,0%,75.7%,0.1));
    --background-header-home: linear-gradient(180deg,rgba(37,36,35,0.2),rgba(37,36,35,0.6) 99%);
    --background-header-mobile: #252423;
    --background-blur-firefox: #1a1a1a;
    --background-container: linear-gradient(180deg,rgba(0,0,0,0.57),rgba(19,19,19,0.86) 99%);
    --background-blur-header: linear-gradient(90deg,rgba(32,32,32,0.9),rgba(45,45,45,0.8));
    --background-card: linear-gradient(180deg,hsla(0,0%,42%,0.2),rgba(38,38,38,0.6));
    --background-sub-card: #292928;
    --background-profile: #252423;
    --background-hover: rgba(207,177,96,0.1);
    --background-switch: #444443;
    --background-item-dropdown: rgba(214,179,88,0.1);
    --background-hover-tag: radial-gradient(circle at 0 0,#3b3a39,#252423);
    --background-item-menu: rgba(68,68,68,0.5);
    --background-backdrop-modal: #000;
    --background-noti-switch: #000;
    --background-card-header: #252423;
    --background-menu-header: linear-gradient(0deg,rgba(0,0,0,0.2),rgba(19,19,19,0.6));
    --background-menu-header-firefox: #565656;
    --background-event: #242323;
    --background-card-has-ball: linear-gradient(90deg,rgba(86,86,86,0.38),hsla(0,0%,75.7%,0.1));
    --background-card-has-ball-firefox: rgba(86,86,86,0.5);
    --background-banner-blur: rgba(27,27,27,0.7);
    --background-banner-blur-firefox: rgba(27,27,27,0.7);
    --background-toast: #3b3a39;
    --background-input-search: linear-gradient(0deg,rgba(19,19,19,0.9),rgba(0,0,0,0.5));
    --background-dropdown-header: rgba(37,36,35,0.8);
    --background-list-action-mobile: linear-gradient(180deg,rgba(0,0,0,0.57),rgba(19,19,19,0.86) 99%);
    --background-box-share: rgba(36,36,36,0.5019607843137255);
    --background-hash-tag-item: rgba(36,36,36,0.8);
    --background-button-expend: #323130;
    --background-event-post: linear-gradient(180deg,hsla(0,0%,100%,0),rgba(84,83,83,0.72) 60%,#100f0e);
    --background-box-tag: #242424;
    --background-header-platform: #0f0f0f;
    --background-input: #302f2d;
    --background-input-login: #323130;
    --background-input-focus: #323130;
    --background-close-icon: #323130;
    --background-input-tag: #302f2d;
    --background-input-profile-setting: #302f2d;
    --background-input-firefox: #302f2d;
    --background-filter: #292928;
    --background-dropdown-filter: #202020;
    --background-footer-filter: #1d1c1c;
    --background-footer-date-range: #282828;
    --background-modal: #202020;
    --background-modal-action: #1d1c1c;
    --background-input-select-img: #292928;
    --background-menu-hover: rgba(207,177,94,0.2);
    --background-success: rgba(39,174,96,0.1);
    --background-warning: rgba(226,185,59,0.1);
    --background-cancel: rgba(235,87,87,0.1);
    --background-incomplete: #444443;
    --background-draft: #2c2a2a;
    --background-update: #30273e;
    --background-incoming: #29383b;
    --background-awaiting: #3e3028;
    --background-public: #21352f;
    --background-cancel: #392928;
    --background-approve: #26312a;
    --background-pending: #383326;
    --background-role-edit: #393837;
    --background-author-page: linear-gradient(180deg,rgba(0,0,0,0.5),rgba(38,38,38,0.6) 99%);
    --background-author-page-info: linear-gradient(180deg,hsla(0,0%,84.7%,0) 2%,#a8a8a8);
    --background-input-authen: #1f2021;
    --background-rating-comment: #1b1b1b;
    --background-long-form-cover: linear-gradient(180deg,transparent,rgba(16,15,14,0.7) 10%,#100f0e);
    --text-status-success: #25af60;
    --text-status-warning: #e2b93b;
    --text-status-incomplete: #444443;
    --text-status-draft: #e5e4e4;
    --text-status-update: #a05ffb;
    --text-status-incoming: #10adc9;
    --text-status-awaiting: #c0581d;
    --text-status-public: #23c396;
    --text-status-cancel: #eb5757;
    --text-status-approve: #25af60;
    --text-status-pending: #e2ba3b;
    --background-article-card: #302f2d;
    --background-icon-menu: #2f2e2d;
    --background-icon-menu-scroll: rgba(122,119,117,0.2);
    --background-article-card-selected: #202020;
    --background-thumbnail-post: linear-gradient(0deg,rgba(38,38,38,0),rgba(33,32,32,0.74),rgba(31,30,30,0.96));
    --background-modal-layout-choose: #2a2a2a;
    --background-des-img: rgba(39,39,39,0.8);
    --bg-scroll-track: grey;
    --bg-scroll-thumb: #3b3a3a;
    --bg-scroll-track-detail: #131313;
    --bg-scroll-thumb-detail: #3b3a3a;
    --bg-item-small: #302f2d;
    --bg-item-language: #302f2d;
    --bg-item-tag: #4e4e4e;
    --bg-track: #292827;
    --bg-img-empty: #3b3a3a;
    --bg-img-empty-active: #323130;
    --bg-artical-layout: #3b3a39;
    --bg-artical-active: #4f4e4e;
    --bg-card-item: #353432;
    --bg-profile-setting-form: #292827;
    --bg-input-disabled-profile-setting: #343434;
    --bg-text-number-post-profile-author: #fff;
    --bg-header-profile: linear-gradient(180deg,rgba(0,0,0,0.57),rgba(19,19,19,0.86) 99%);
    --bg-header-profile-author: linear-gradient(180deg,rgba(0,0,0,0.57),rgba(19,19,19,0.86) 99%);
    --bg-card-pdf: linear-gradient(180deg,hsla(0,0%,42%,0.2),rgba(38,38,38,0.6) 99%);
    --bg-carousel-pdf: linear-gradient(0deg,#000,hsla(0,0%,9%,0.58));
    --background-dropdown-menu: #21201f;
    --background-related-article: #353433;
    --background-scroll-track: #605e5c;
    --background-switch-bar: #323130;
    --background-banner-login: #202020;
    --background-butotn-slider: #363535;
    --background-preview-seo: #202124;
    --background-article-field: #323130;
    --background-navbar: #000;
    --text-navbar: #656464;
    --shadow-navbar: unset;
    --text-success: #27ae60;
    --text-warning: #e2b93b;
    --text-cancel: #eb5757;
    --text-color: #d2d0ce;
    --text-secondary-color: #444443;
    --text-small-color: #d2d0ce;
    --text-hover-link-light: #1f80bd;
    --text-hover-link: #1f80bd;
    --text-disabled: grey;
    --text-light: #d2d0ce;
    --text-heading: #fff;
    --text-title-color: #ededed;
    --text-fill-slide: #fff;
    --text-fill-slide-firefox: #fff;
    --text-form-color: #d2d0ce;
    --text-title-form-color: #fff;
    --text-title-post-color: #ededed;
    --text-content-post-color: #d0cecc;
    --text-description-color: #959393;
    --text-title-header: #959393;
    --text-author-color: #d3d0ce;
    --text-title-section-color: #ededed;
    --text-table-color: #fafafa;
    --text-tag-item: #fff;
    --text-tooltip-thumbnail: #fff;
    --text-color-modal: #959393;
    --text-color-empty: #605e5c;
    --text-pagination: #a19f9f;
    --text-placeholder: #656464;
    --text-highlight-thumbnail: #7a7775;
    --text-title-control: #d0cecc;
    --text-active-value: #ededed;
    --text-color-title-footer: #ededed;
    --text-child-footer: #d0cecc;
    --text-input-placeholder: #9e9e9e;
    --text-input-search: #fff;
    --text-description-post-detail: #a19f9f;
    --text-header-not-choose: #a19f9f;
    --text-breadcrumb: #a19f9f;
    --text-follow-us: #656464;
    --text-detail-title: #a19f9f;
    --text-title-preview-seo: #c58af9;
    --text-preview-seo: #bdc1c6;
    --text-title-select-img: #d3d0ce;
    --text-description-seo: #a19f9f;
    --text-form-login: #d0cecc;
    --text-head-portal-item: #fafafa;
    --text-title-chart: #d0cecc;
    --text-info-chart: #fff;
    --text-author-name: #fafafa;
    --text-link-post-detail: #cfb160;
    --text-form-login-new: #fff;
    --text-form-login-input-placeholder: #656464;
    --text-tab-guest-view: #fff;
    --text-author-post-detail: #fafafa;
    --text-color-pdf: #fafafa;
    --text-color-date-pdf: #a19f9f;
    --text-datetime-comment: #7a7775;
    --text-no-rating-comment: #3d3d3d;
    --dot-color-pdf: #d8d8d8;
    --dot-hover-color-pdf: hsla(0,0%,84.7%,0.6);
    --border-color-pdf: #979797;
    --btn-primary: #b69f58;
    --btn-primary-disabled: #4a4127;
    --btn-primary-text-disabled: #a19f9f;
    --btn-primary-hover: #d4b155;
    --btn-secondary: #323130;
    --btn-secondary-hover: #3b3a39;
    --btn-secondary-active: #605e5c;
    --btn-disabled: #292827;
    --btn-active: #debc64;
    --btn-neutral-active: ;
    --btn-border: #979593;
    --btn-background: #161514;
    --icon-default: #fcfcfc;
    --icon-active: #ab8e42;
    --icon-disabled: grey;
    --divider-main: #d6d6d6;
    --divider-secondary: grey;
    --divider-slide: #e1dfdd;
    --divider-footer: #444443;
    --divider-header: #353535;
    --divider-article-card: #3b3a3a;
    --divider-dropdown-filter: #282827;
    --divider-line-pagination: #a19f9f;
    --divider-line-footer: #272625;
    --divider-vertical-line: #3b3a3a;
    --divider-vertical-line-long-form: #171717;
    --divider-input-search: #3d3d3d;
    --divider-line-long-form: #171717;
    --divider-chart: #232323;
    --progress-bar-chart: #323232;
    --divider-comment: #5a5958;
    --presence-awy: #edad61;
    --presence-online: ;
    --presence-invisible: #fff;
    --presence-do-not-disturb: #be3743;
    --presence-out-of-office: #aa55a0;
    --message-warning: #96cf63;
    --message-icon-warning: #96cf63;
    --message-severe-warning: #96cf63;
    --message-severe-warning-icon: #96cf63;
    --message-error-block: #96cf63;
    --message-error-block-icon: #96cf63;
    --message-success: #dff6dd;
    --message-success-icon: #96cf63;
    --dropdown-item-hover: #3f3f3f;
    --background-scroll: #444443;
    --card-shadow: 0 1px 2.4rem 0 rgba(0,0,0,0.1);
    --box-shadow: 0 2px 2.4rem 0 rgba(0,0,0,0.1);
    --shadow-dropdown-filter: 0 2px 4px 0 rgba(19,19,19,0.24);
    --dot-item-color: hsla(0,0%,100%,0.32);
    --card-backdrop: blur(100px);
    --box-backdrop: blur(120px);
    --background-gradient1: linear-gradient(0deg,rgba(86,86,86,0.6),hsla(0,0%,100%,0.1));
    --background-arrow-down: rgba(86,86,86,0.7);
    --background-fill-firefox: rgba(86,86,86,0.8);
    --background-fill: linear-gradient(0deg,rgba(86,86,86,0.38),hsla(0,0%,75.7%,0.1));
    --background-fill1: linear-gradient(0deg,rgba(86,86,86,0.9),hsla(0,0%,75.7%,0.3));
    --background-dropdown: #565656;
    --background-login: linear-gradient(0deg,hsla(0,0%,42%,0.2),rgba(38,38,38,0.6));
    --background-login-blur: linear-gradient(0deg,hsla(0,0%,42%,0.2),rgba(38,38,38,0.6));
    --bg-behind-blur: hsla(0,0%,100%,0);
    --bg-info-profile-box: linear-gradient(180deg,hsla(0,0%,84.7%,0) 2%,#a8a8a8);
    --border-color: #444443;
    --tag-border: #979593;
    --input-border-color: #d2d0ce;
    --divider-author-post-content: #232323;
    --blur-background: blur(20px);
    --blur-background2: blur(20px);
    --blur-background-header: blur(44px);
    --blur-footer: blur(100px);
    --blur-ball-detail-post: blur(8rem);
    --blur-ball-detail-content: blur(17rem);
    --background-chart-token: #161616;
    --background-chart-token-item: #181818;
    --background-chart-item: #181818;
    --background-input-comment: #1b1b1b;
    --background-tooltip: linear-gradient(180deg,hsla(0,0%,42.4%,0.2),rgba(97,97,97,0.26) 48%,rgba(38,38,38,0.23) 99%);
    --text-color-no-comment: #484848;
    --blur-ball-post-content: blur(12rem);
    --scale-img: $scaleImg;
    --border-avatar: #cfb160;
    --text-color-info-detail: #d0cecc;
    --ck-filter-icon: invert(98%) sepia(1%) saturate(200%) hue-rotate(281deg) brightness(119%) contrast(100%)!important;
    --bg-menu-platform-right: linear-gradient(148deg,rgba(41,41,41,0.92) 2%,rgba(27,27,27,0.8) 103%);
    --bg-tab-choose-header: #0f0f0f;
    --txt-platform-menu: #bbb;
    --bg-sidebar-active-platform: #30260d;
    --bg-sidebar-hover-platform: #242424;
}

[data-theme=light] {
    --ck-border-radius: 12px;
    --background-color: #f0f2f5;
    --background-general: #f5f5f5;
    --background-section: #fff;
    --background-thumbnail: #f4f4f4;
    --background-thumbnail-firefox: #f4f4f4;
    --bg-tag-item: #cfb160;
    --bg-dropdown: #f3f2f1;
    --bg-firefox: #f4f4f4;
    --bg-menu-edit-text: #f7f7f7;
    --bg-new-form-login: #fafafa;
    --bg-line-author-page: #ccc;
    --bg-screen-authen: #fff;
    --bg-cover-catalogue: #fff;
    --bg-sidebar-item-profile: linear-gradient(180deg,hsla(0,0%,84.7%,0) 2%,#a8a8a8);
    --bg-card-profile: #fafafa;
    --background-navbar: #fff;
    --text-navbar: #656464;
    --shadow-navbar: 0 22px 24px 0 rgba(53,64,90,0.13);
    --card-background-linear: linear-gradient(90deg,hsla(0,0%,96.1%,0.15),hsla(0,0%,100%,0.6));
    --card-background-firefox: #fff;
    --background-modal-firefox: rgba(248,249,251,0.6);
    --background-modal-backdrop-firefox: hsla(0,0%,92.9%,0.8);
    --content-background-linear: #fff;
    --background-content-post: #fff;
    --background-search-portal: linear-gradient(180deg,hsla(0,0%,100%,0.2),hsla(0,0%,100%,0.6) 97%);
    --background-btn-search-portal: linear-gradient(180deg,#eee,hsla(0,0%,100%,0.91) 99%);
    --background-hot-item-portal: #e1dfdd;
    --background-portal-result-news: linear-gradient(180deg,hsla(0,0%,96.1%,0.15),hsla(0,0%,100%,0.6));
    --background-header-portal: linear-gradient(180deg,hsla(0,0%,100%,0.2),hsla(0,0%,100%,0.6) 97%);
    --background-footer-portal: linear-gradient(180deg,hsla(0,0%,100%,0.2),hsla(0,0%,100%,0.6) 97%);
    --background-dropdown-portal: linear-gradient(0deg,hsla(0,0%,100%,0.62) 100%,hsla(0,0%,100%,0.62) 0);
    --background-dropdown-search-portal: linear-gradient(0deg,hsla(0,0%,100%,0.62) 100%,hsla(0,0%,100%,0.62) 0);
    --background-sidebar-portal: linear-gradient(0deg,hsla(0,0%,100%,0.62) 100%,hsla(0,0%,100%,0.62) 0);
    --background-preview: rgba(0,0,0,0.0001);
    --background-dropdown-menu-header: linear-gradient(0deg,hsla(0,0%,100%,0.62) 100%,hsla(0,0%,100%,0.62) 0);
    --background-dropdown-shadow: -7px 7px 64px 2px rgba(222,221,221,0.49);
    --background-footer: linear-gradient(180deg,#eee,hsla(0,0%,100%,0.91) 99%);
    --background-carousel: radial-gradient(center,hsla(0,0%,100%,0.11),hsla(0,0%,100%,0.7) 10%,#f5f5f5 80%);
    --background-after-card-content: #fff;
    --box-background-linear: linear-gradient(0deg,hsla(0,0%,92.2%,0.3),hsla(0,0%,100%,0),hsla(0,0%,100%,0),hsla(0,0%,92.2%,0.3));
    --opacity-blur-news: 0.8;
    --background-blur-news-wrap: linear-gradient(270deg,hsla(0,0%,100%,0.62) 100%,hsla(0,0%,100%,0.62) 0);
    --background-blur-news: radial-gradient(circle at 50% 50%,#ffe06a,#fdf6d7 155%);
    --background-blur: linear-gradient(90deg,hsla(0,0%,96.1%,0.15),hsla(0,0%,100%,0.6));
    --background-header-home: linear-gradient(180deg,hsla(0,0%,100%,0.2),hsla(0,0%,100%,0.6) 97%);
    --background-header-mobile: linear-gradient(270deg,hsla(0,0%,100%,0.62) 100%,hsla(0,0%,100%,0.62) 0);
    --background-blur-firefox: #f5f5f5;
    --background-container: linear-gradient(90deg,hsla(0,0%,96.1%,0.15),hsla(0,0%,100%,0.6));
    --background-blur-header: linear-gradient(90deg,hsla(0,0%,96.1%,0.15),hsla(0,0%,100%,0.6));
    --background-card: linear-gradient(#fff,#fff);
    --background-sub-card: #fafafa;
    --background-profile: #fff;
    --background-hover: rgba(207,177,96,0.1);
    --background-switch: #fff;
    --background-item-dropdown: rgba(207,177,96,0.1);
    --background-hover-tag: radial-gradient(circle at 0 0,#fff,#f3f2f1);
    --background-item-menu: rgba(225,223,221,0.5);
    --background-backdrop-modal: linear-gradient(90deg,hsla(0,0%,96.1%,0.15),hsla(0,0%,100%,0.6));
    --background-noti-switch: #fff;
    --background-card-header: #fcfcfc;
    --background-menu-header: linear-gradient(90deg,hsla(0,0%,100%,0.8),hsla(0,0%,100%,0.8));
    --background-menu-header-firefox: #fff;
    --background-event: #fff;
    --background-card-has-ball: linear-gradient(180deg,hsla(0,0%,100%,0.2) 0%,hsla(0,0%,100%,0.6) 99%);
    --background-card-has-ball-firefox: hsla(0,0%,100%,0.5);
    --background-banner-blur: hsla(0,0%,100%,0.9);
    --background-banner-blur-firefox: hsla(0,0%,100%,0.6);
    --background-toast: #fff;
    --background-input-search: linear-gradient(0deg,rgba(19,19,19,0.9),rgba(0,0,0,0.5));
    --background-dropdown-header: hsla(0,0%,100%,0.8);
    --background-list-action-mobile: linear-gradient(270deg,hsla(0,0%,100%,0.62) 100%,hsla(0,0%,100%,0.62) 0);
    --background-box-share: hsla(0,0%,94.9%,0.5019607843137255);
    --background-hash-tag-item: #f2f2f2;
    --background-button-expend: #edebe9;
    --background-event-post: linear-gradient(181deg,hsla(0,0%,100%,0) 20%,var(--background-event) 75%);
    --background-box-tag: #fff;
    --background-header-platform: #f2f2f2;
    --background-input: #f3f3f3;
    --background-input-login: #969696;
    --background-input-focus: #979593;
    --background-close-icon: #f9f8f7;
    --background-input-tag: #f3f2f1;
    --background-input-profile-setting: #f3f3f3;
    --background-input-firefox: #ededed;
    --background-filter: #f4f4f4;
    --background-dropdown-filter: #fff;
    --background-footer-filter: #fafafa;
    --background-footer-date-range: #fafafa;
    --background-modal: #fff;
    --background-modal-action: #fafafa;
    --background-input-select-img: #f3f3f3;
    --background-success: rgba(39,174,96,0.1);
    --background-warning: rgba(226,185,59,0.1);
    --background-cancel: rgba(235,87,87,0.1);
    --background-incomplete: #edebe9;
    --background-draft: #e5e4e4;
    --background-update: #ebddff;
    --background-incoming: #cbf6fe;
    --background-awaiting: #f9e8de;
    --background-public: #d5eee7;
    --background-cancel: #fee7e6;
    --background-approve: #d9ece0;
    --background-pending: #f2ead3;
    --background-role-edit: #ededed;
    --background-author-page: linear-gradient(180deg,hsla(0,0%,100%,0),#f0f0f0 99%);
    --background-author-page-info: linear-gradient(180deg,hsla(0,0%,100%,0) 2%,#fff);
    --background-input-authen: #f3f3f3;
    --background-rating-comment: #f4f4f4;
    --background-long-form-cover: linear-gradient(180deg,hsla(0,0%,100%,0.01),hsla(0,0%,96.1%,0.7) 10%,#f5f5f5);
    --text-status-success: #25af60;
    --text-status-warning: #e2b93b;
    --text-status-incomplete: #444443;
    --text-status-draft: #656464;
    --text-status-update: #a05ffb;
    --text-status-incoming: #10adc9;
    --text-status-awaiting: #c0581d;
    --text-status-public: #0aae80;
    --text-status-cancel: #eb5757;
    --text-status-approve: #25af60;
    --text-status-pending: #e2ba3b;
    --background-article-card: #f3f3f3;
    --background-icon-menu: #ededed;
    --background-icon-menu-scroll: #ededed;
    --background-article-card-selected: #e1e1e1;
    --background-thumbnail-post: linear-gradient(0deg,rgba(38,38,38,0),hsla(0,0%,62.4%,0.62),rgba(248,249,251,0.7));
    --background-modal-layout-choose: #fff;
    --background-des-img: hsla(0,0%,96.9%,0.8);
    --bg-item-small: #e1dfdd;
    --bg-item-language: #f3f3f3;
    --bg-item-tag: #ededed;
    --bg-track: #f5f4f4;
    --bg-img-empty: #eaeaea;
    --bg-img-empty-active: #f4f4f4;
    --bg-artical-layout: #f3f3f3;
    --bg-artical-active: #e4e4e4;
    --bg-card-item: #fff;
    --bg-profile-setting-form: #fafafa;
    --bg-input-disabled-profile-setting: #f3f3f3;
    --bg-text-number-post-profile-author: #fff;
    --bg-header-profile: linear-gradient(180deg,hsla(0,0%,100%,0.2),hsla(0,0%,100%,0.6) 97%);
    --bg-header-profile-author: #fafafa;
    --bg-card-pdf: #fff;
    --bg-carousel-pdf: linear-gradient(0deg,hsla(0,0%,100%,0.97),rgba(56,56,56,0.58));
    --background-dropdown-menu: #f3f2f1;
    --background-related-article: #e4e4e4;
    --background-scroll-track: #f5f4f4;
    --background-switch-bar: #ebeaea;
    --background-banner-login: #fff;
    --background-butotn-slider: #e4e4e4;
    --background-preview-seo: #fff;
    --background-article-field: #f4f4f4;
    --text-success: #27ae60;
    --text-warning: #e2b93b;
    --text-cancel: #eb5757;
    --text-color: #605e5c;
    --text-secondary-color: #e1dfdd;
    --text-small-color: #fff;
    --text-hover-link-light: #1f80bd;
    --text-hover-link: #1f80bd;
    --text-disabled: #d2d0ce;
    --text-light: #605e5c;
    --text-heading: #262626;
    --text-title-color: #292929;
    --text-fill-slide: #fff;
    --text-fill-slide-firefox: #262626;
    --text-form-color: #292827;
    --text-title-form-color: #252423;
    --text-title-post-color: #292929;
    --text-content-post-color: #292929;
    --text-description-color: #656464;
    --text-title-header: #b6b6b6;
    --text-author-color: #656464;
    --text-title-section-color: #262626;
    --text-table-color: #3b3a3a;
    --text-tag-item: #323130;
    --text-tooltip-thumbnail: #797775;
    --text-color-modal: #959393;
    --text-color-empty: #a19f9f;
    --text-pagination: #656464;
    --text-placeholder: #a19f9f;
    --text-highlight-thumbnail: #bcbcbc;
    --text-title-control: #959393;
    --text-active-value: #605e5c;
    --text-color-title-footer: #262626;
    --text-child-footer: #262626;
    --text-input-placeholder: #9e9e9e;
    --text-input-search: #000;
    --text-description-post-detail: #656464;
    --text-header-not-choose: #656464;
    --text-breadcrumb: #a19f9f;
    --text-follow-us: #a19f9f;
    --text-detail-title: #a19f9f;
    --text-title-preview-seo: #1a0dab;
    --text-preview-seo: #4d5156;
    --text-title-select-img: #323130;
    --text-description-seo: #a19f9f;
    --text-form-login: #d0cecc;
    --text-head-portal-item: #262626;
    --text-title-chart: #656464;
    --text-info-chart: #262626;
    --text-author-name: #262626;
    --text-link-post-detail: #fcc225;
    --text-form-login-new: #656464;
    --text-form-login-input-placeholder: #a19f9f;
    --text-tab-guest-view: #656464;
    --text-author-post-detail: #4c4c4c;
    --text-color-pdf: #161514;
    --text-color-date-pdf: #605e5c;
    --text-list-sidebar-platform: #d2d0ce;
    --text-datetime-comment: #656464;
    --text-no-rating-comment: #656464;
    --dot-color-pdf: #4c4c4c;
    --dot-hover-color-pdf: rgba(76,76,76,0.6);
    --border-color-pdf: #a19f9f;
    --btn-primary: #cfb160;
    --btn-primary-disabled: #ddcea6;
    --btn-primary-text-disabled: #fff;
    --btn-primary-hover: #d8b968;
    --btn-secondary: #edebe9;
    --btn-secondary-hover: #d2d0ce;
    --btn-secondary-active: #bbb;
    --btn-disabled: #f3f2f1;
    --btn-active: #e0c378;
    --btn-neutral-active: linear-gradient(0deg,#edebe9,#fff);
    --btn-border: #d2d0ce;
    --btn-background: #f5f5f5;
    --icon-default: #292827;
    --icon-active: #cfb160;
    --icon-disabled: #d2d0ce;
    --divider-main: #edebe9;
    --divider-secondary: #f3f2f1;
    --divider-slide: #e1dfdd;
    --divider-footer: #edebe9;
    --divider-header: #ededed;
    --divider-article-card: #e8e6e6;
    --divider-dropdown-filter: #ededed;
    --divider-line-pagination: #656464;
    --divider-line-footer: #f0f0f0;
    --divider-vertical-line: #a19f9f;
    --divider-vertical-line-long-form: #a19f9f;
    --divider-input-search: #ededed;
    --divider-line-long-form: #171717;
    --divider-chart: #d0cecc;
    --progress-bar-chart: #f0f0f0;
    --divider-comment: linear-gradient(270deg,#fff,#e9d999);
    --presence-awy: #e4a75c;
    --presence-online: ;
    --presence-invisible: #fff;
    --presence-do-not-disturb: #be3743;
    --presence-out-of-office: #aa55a0;
    --message-warning: #96cf63;
    --message-icon-warning: #96cf63;
    --message-severe-warning: #96cf63;
    --message-severe-warning-icon: #96cf63;
    --message-error-block: #96cf63;
    --message-error-block-icon: #96cf63;
    --message-success: #dff6dd;
    --message-success-icon: #96cf63;
    --background-gradient1: linear-gradient(0deg,rgba(86,86,86,0.6),hsla(0,0%,100%,0.1));
    --background-arrow-down: rgba(86,86,86,0.7);
    --background-fill-firefox: rgba(86,86,86,0.8);
    --background-fill: linear-gradient(0deg,rgba(86,86,86,0.38),hsla(0,0%,75.7%,0.1));
    --background-fill1: linear-gradient(0deg,rgba(86,86,86,0.9),hsla(0,0%,75.7%,0.3));
    --background-dropdown: #fff;
    --background-login: linear-gradient(0deg,hsla(0,0%,100%,0.3),hsla(0,0%,100%,0.6));
    --background-login-blur: linear-gradient(0deg,hsla(0,0%,96.1%,0.2),hsla(0,0%,100%,0.6));
    --bg-scroll-track: #fff;
    --bg-scroll-thumb: #dfdede;
    --bg-behind-blur: #fff;
    --bg-scroll-track-detail: #fafafa;
    --bg-scroll-thumb-detail: #919191;
    --bg-info-profile-box: linear-gradient(180deg,hsla(0,0%,84.7%,0) 2%,#a8a8a8);
    --dropdown-item-hover: #edebe9;
    --dot-item-color: #d2d2d2;
    --background-scroll: #e1dfdd;
    --card-shadow: 0 3px 8px hsla(0,0%,80%,0.1);
    --box-shadow: 0 4px 20px 0 hsla(0,0%,74.9%,0.2);
    --shadow-dropdown-filter: 0 2px 4px 0 hsla(0,0%,80%,0.24);
    --border-color: #e1dfdd;
    --tag-border: #979593;
    --input-border-color: #d2d0ce;
    --divider-author-post-content: #ededed;
    --card-backdrop: blur(120px);
    --box-backdrop: blur(20px);
    --blur-footer: blur(120px);
    --scale-img: $scaleImg;
    --border-avatar: #cfb160;
    --text-color-info-detail: #656464;
    --background-chart-token: #fff;
    --background-chart-token-item: #f8f8f8;
    --background-chart-item: transparent;
    --background-input-comment: #f8f8f8;
    --background-tooltip: linear-gradient(180deg,hsla(0,0%,84.7%,0) 2%,#a8a8a8);
    --text-color-no-comment: #bcbcbc;
    --blur-ball-post-content: blur(15rem);
    --ck-filter-icon: unset!important;
    --bg-menu-platform-right: linear-gradient(148deg,rgba(41,41,41,0.92) 2%,rgba(27,27,27,0.8) 103%);
    --bg-tab-choose-header: #0f0f0f;
    --bg-sidebar-active-platform: #30260d;
    --bg-sidebar-hover-platform: #242424;
}