@import "bootstrap/bootstrap";
@import "object";
@import "block_banner";
@import "block_banner";
@import "block_news";
@import "block_categories";
@import "slick-theme";
@import "slick";

.img-responsive{
    display: inline-block;
}

.container{
    max-width: 1204px;
}

body{
    font-size: 15px;
    color: var(--text-color);
    // font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-general);
    padding-top: 92px;
}
body ::-webkit-scrollbar {
    display: block;
    width: 0;
}
.navbar{
    background-color: rgb(255, 255, 255, 0.8);// var(--background-header-home);
    backdrop-filter: var(--blur-background-header);
    -webkit-backdrop-filter: var(--blur-background-header);
    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);

    .nav-item{
        > .nav-link{
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
            color: var(--text-title-color);
            padding-right: 1.5rem;
            padding-left: 1.5rem;
        }
    }

    .navbar-brand{
        margin-right: 5rem;
        img{
            height: 36px;
        }
    }

    .right-button{
        .rb-item{
            cursor: pointer;
            background-color: var(--background-icon-menu);
            border-radius: 50%;
            overflow: hidden;
            display: -webkit-flex;
            display: -moz-box;
            display: flex;
            -webkit-justify-content: center;
            -moz-box-pack: center;
            justify-content: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            align-items: center;
            width: 32px;
            height: 32px;

            img{
                height: 24px;
                width: 24px;
            }

            margin-left: 15px;
        }
    }
    
    .dropdown{
        

        &:hover{ 
            .dropdown-menu {
                display: block;
                margin-top: 0; 
                background-color: transparent!important;
                backdrop-filter: blur(20px);;
                -webkit-backdrop-filter: blur(20px);;
                background: var(--background-menu-header) !important;
                border-radius:12px;
                border: transparent;
                padding: 12px;
                min-width: 230px;
                -webkit-box-shadow: 0 1px 24px 0 rgb(0 0 0 / 10%);
                box-shadow: 0 1px 24px 0 rgb(0 0 0 / 10%);

                &:before {
                    position: absolute;
                    content: "";
                    width: 95%;
                    height: 2px;
                    background-color: #1f80bd;
                    top: 0;
                    left: 5.5px;
                }

                a{
                    white-space: nowrap;
                }

                .nav-link{
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }

    .has-child{
        > a >
        span{
            width:12px; 
            height: 7px;
            background: url(../images/iconDropdownHeader.svg);
            display: inline-block;
            margin-left: 5px;
        }
    }

    .searchMobileWrapper{
        &.show{
            display: block !important;
        }

        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-image: var(--background-input-search);
        backdrop-filter: blur(44px);
        -webkit-backdrop-filter: blur(44px);
        -webkit-box-shadow: var(--box-shadow);
        box-shadow: var(--box-shadow);
        display: none !important;
        padding: 24px;

        .inputSearchWrapper{
            margin: 0 auto;
            width: 100%;
            max-width: 600px !important;
            display: -webkit-flex;
            display: -moz-box;
            display: flex;
            -webkit-align-items: center;
            -moz-box-align: center;
            align-items: center;
            position: relative;
            -webkit-justify-content: center;
            -moz-box-pack: center;
            justify-content: center;
            padding-bottom: 8px;
            padding-top: 8px;
            border: 1px solid var(--divider-input-search);
            border-radius: 10px;
            
            // &:before {
            //     content: "";
            //     height: 1px;
            //     width: 100%;
            //     background-color: var(--divider-input-search);
            //     position: absolute;
            //     bottom: 0;
            // }

            input{
                background-color: transparent!important;
                color: #fff;
                font-size: 17px;
                border: none;
                padding: 0 8px;
                width: 80%;
                text-align: center;
                outline: none;
                border: none;

                &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                    color:    #fff;
                }
                &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                   color:    #fff;
                   opacity:  1;
                }
                &::-moz-placeholder { /* Mozilla Firefox 19+ */
                   color:    #fff;
                   opacity:  1;
                }
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                   color:    #fff;
                }
                &::-ms-input-placeholder { /* Microsoft Edge */
                   color:    #fff;
                }
                
                &::placeholder { /* Most modern browsers support this now. */
                   color:    #fff;
                }
            }

            button{
                position: absolute;
                background: transparent;
                border: none;
                right: 10px;
                top: 10px;
            }
        }

        .txtTrending{
            padding-top: 16px;
            font-size: 17px;
            margin-bottom: 16px;
            text-align: center;
            color: #fff;
            display: -webkit-flex;
            display: -moz-box;
            display: flex;
            -webkit-align-items: center;
            -moz-box-align: center;
            align-items: center;
            -webkit-justify-content: center;
            -moz-box-pack: center;
            justify-content: center;
        }

        .tagWrapper{
            justify-content: center;
            align-items: center;
            a{
                text-decoration: none;

                .hashTag{
                    font-size: 13px;
                    padding: 8px 16px;
                    max-height: 32px;
                    color: var(--text-color);
                    display: -webkit-flex;
                    display: -moz-box;
                    display: flex;
                    -webkit-justify-content: space-between;
                    -moz-box-pack: justify;
                    justify-content: space-between;
                    -webkit-align-items: center;
                    -moz-box-align: center;
                    align-items: center;
                    border-radius: 8px;
                    background-color: #444443;;
                    margin-right: 16px;
                    background-color: var(--background-scroll)!important;
                    cursor: pointer;
                    margin-bottom: 16px;
                    -webkit-transition: all .3s;
                    transition: all .3s;
                }

                &:hover{
                    .hashTag{
                        color: var(--text-hover-link);
                    }
                }
            }
        }
    }
}


.about-item{
    position: relative;

    .thumb{
        display: block;
        position: relative;
        z-index: 8;

        img{
            width: 100%;
        }

        &:after{
            display: block;
            content: "";
            z-index: 9;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: url("../images/holder.png") bottom repeat-x;
        }
    }

    .holder{
        z-index: 10;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px 15px;

        .heading{
            margin: 0 0 0 0;
            min-height: 40px;
            padding: 9px 40px 9px 0;
            font-size: 18px;
            font-weight: bold;

            a{
                color: #ffffff;
            }

            @include after-icon(40px, 40px, 0px, 0px, -259px, top);

            &:after{
                left: auto;
                right: 0 !important;
            }
        }

        p{
            color: #ffffff;
            font-size: 14px;
            margin-bottom: 0;
            display: none;
        }
    }

    &:hover{
        .holder {
            border-bottom: 4px solid #f83a1f;

            .heading {
                &:after {
                    background-position: -299px top;
                }
            }

            p{
                display: block;
            }
        }
    }
}

.post-item{
    margin-bottom: 12px;

    .thumb{
        img{
            border-radius: 4px;
        }
    }

    .summary{
        padding: 0 15px 0 15px;
        line-height: 1.5em;
        color: #333333;

        .heading{
            margin: 0 0 8px 0;
            font-size: 18px;
            font-weight: bold;

            a{
                color: #333333;
            }
        }

        p{
            margin-bottom: 0;
        }
    }
}

.block-album-default{
    .block-heading {
        @include block-heading;
    }

    .note{
        text-align: center;
        color: #777777;
        font-size: 16px;
        margin-bottom: 20px;
    }
}

.album-item{
    position: relative;
    padding-left: 82px;

    .heading{
        margin: 10px 0 10px 0;
        font-weight: bold;
        font-size: 18px;

        a{
            color: #333333;
        }
    }

    .summary{
        color: #333333;
        font-size: 14px;
        line-height: 20px;
    }

    .info{
        position: absolute !important;
        left: 0; top: 0;
        width: 62px;
        border: 1px solid #dddddd;
        border-radius: 3px;
        padding: 48px 0;

        .date{
            color: #999999;
            font-size: 14px;
            text-align: center;
            border-top: 1px solid #f4f4f4;
            padding: 7px 0;
        }

        .total{
            left: -1px;
            right: -1px;
            bottom: -1px;
            height: 48px;
            position: absolute !important;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            background: #292929;
            line-height: 48px;
            color: #ffffff;
            font-size: 16px;
            padding-left: 38px;

            @include after-icon(20px, 15px, 16px, 12px, -351px, top);
        }

        @include after-icon(30px, 27px, 12px, 15px, -371px, top);
    }
}

.container-breadcrumb{
    border-bottom: 1px solid #e1e1e1;
    background: #f6f6f6;
    margin-bottom: 2px;

    .breadcrumb{
        margin-bottom: 0;
        background: transparent;
        font-size: 14px;
        color: #414141;
        padding-left: 0;
        padding-right: 0;

        a{
            color: #414141;
        }

        li:first-child{
            @include after-icon(16px, 14px, 2px, 0px, -401px, top);
            padding-left: 25px;
        }
    }
}

.content-title{
    border-bottom: 1px solid #f0f4f7;
    margin: 0 0 15px 0;
    padding: 7px 0;
    font-size: 20px;
    font-weight: bold;
    color: #333333;

    &.post-title{
        color: #292929;
    }
}

.content-content{
    color: #333333;
    font-size: 14px;
    line-height: 20px;
}

.post-date{
    margin-bottom: 10px;
    color: #999999;
    padding-left: 25px;

    @include after-icon(14px, 15px, 2px, 0px, left, -40px);
}

.post-summary{
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 12px;
}

.post-detail{
    .post-content{
        font-size: 15px;
        line-height: 20px;
        color: #333333;

        h2{
            font-size: 24px;
            margin: 3px 0 12px 0;
            font-weight: bold;
        }

        h3{
            font-size: 20px;
            margin: 3px 0 12px 0;
            font-weight: bold;
        }
    }
}

.news-other{
    margin: 0; padding: 0;

    li{
        margin: 0; padding: 3px 0;
        list-style: none;

        .heading{
            font-size: 15px;
            font-weight: normal;
            margin: 0;

            a{
                color: #333333;
            }
        }
    }
}

.row-album{
    padding-top: 30px;

    .gallery-item{
        display: block;

        @include after-icon(50px, 50px, 50%, 50%, -16px, -40px);

        &:after{
            margin-left: -25px;
            margin-top: -25px;
            z-index: 10;
            display: none;
        }

        &:before{
            display: none;
            content: "";
            z-index: 9;
            position: absolute;
            left: 0; right: 0; top: 0; bottom: 0;
            background: rgba(0, 0, 0, 0.3);
        }

        &:hover{
            &:after,
            &:before{
                display: block;
            }
        }
    }
}

footer{
    background-image: var(--background-footer);
    position: relative;
    padding-top: 30px;
    margin-top: 20px;
    color: var(--text-color);

    a{
        color: var(--text-color);
        text-decoration: none;

        &:hover {
            color: var(--text-hover-link);;
        }
    }

    .footer-rights{
        border-top: 1px solid var(--divider-line-footer);
        color: var(--text-placeholder);;
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 16px;
    }

    .col-lg-9{
        ul{
            margin: 0;
            padding: 0;

            li{
                margin: 0;
                padding: 0;
                list-style: none;
            }

            ul{
                li{
                    padding-top: 10px;
                    padding-bottom: 10px;
                    font-size: 15px;
                }
            }
        }

        > ul{
            padding-bottom: 10px;

            > li{
                width: 25%;
                float: left;

                > a{
                    color: var(--text-color);
                    font-weight: bold;
                    font-size: 16px;
                    padding-bottom: 5px;
                    display: block;
                }
            }

            &::after{
                display: block;
                content: "";
                clear: both;
            }
        }
    }
}

.table-download{
    thead{
        th{
            background: #1e69c5;
            text-align: center;
            color: #ffffff;
            border-color: #1e69c5;
        }
    }

    td.text-center{
        text-align: center;

        a.download{
            display: inline-block;
            padding-left: 22px;

            @include after-icon(16px, 14px, 0px, 0px, left, -90px);
        }
    }
}

@media (max-width: 768px){
    .navbar-toggle{
        float: none !important;
        padding-left: 0 !important;
    }

    nav{
        position: relative;

        .form-search{
            position: absolute;
            right: 10px;
            top: 0px;
        }

        .navbar-nav{
            margin: 0 !important;
        }
    }

    header .logo{
        padding: 0 0 10px 0 !important;
    }

    .post-content img{
        max-width: 100% !important;
    }

    footer .col-lg-5.text-right{
        text-align: left;
    }

    #block-22{
        display: flex;
        flex-wrap: wrap!important;
        > li{
            width: 50%;
            float: none;

            &:nth-child(1){
                order: 1;
            }
            &:nth-child(2){
                order: 3;
            }
            &:nth-child(3){
                order: 2;
            }
            &:nth-child(4){
                order: 4;
            }
        }
    }

    .contentWrapperNormal main .contentWrapper.row{
        .colLeft {
            display: none !important;
        }

        .colCenter{
            padding: 0 !important;
        }

        .postContent{
            padding: unset !important;
            background: transparent !important;

            .pd50{
                padding: 0 !important;
            }
        }

        .colRight{
            padding-left: 0 !important;
            width: unset;
            max-width: unset;
        }
    }

    .container-detail{
        .cd-content{
            .colContent{
                padding-left: 0 !important;
            }
        }
    
        .colLeft{
            display: none !important;
        }
    }
}

.scrollShow::-webkit-scrollbar {
    display: block!important;
    width: 3px!important;
}

.scrollShow::-webkit-scrollbar-thumb {
    -webkit-transition: all .3s;
    transition: all .3s;
    background-color: #3b3a3a;
    border-radius: 1.2rem;
}

.scrollShow::-webkit-scrollbar-track {
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-box-shadow: inset 0 0 5px grey;
    box-shadow: inset 0 0 5px grey;
    border-radius: 1.2rem;
}

.list-grid,
.list-news{
    div[class*="col-"] {
        padding-bottom: 30px;
    }
}

.project-item{
    height: 100%;
    position: relative;
    background: var(--background-card-header);;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--card-shadow);
    padding: 20px;
    padding-left: 112px;

    .thumb{
        border-radius: 7px;
        left: 20px;
        top: 20px;
        position: absolute;
        height: 72px;
        width: 72px;
        overflow: hidden;

        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
            transition: all 0.3s;
        }
    }

    .heading{
        overflow: hidden;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-break: break-word;
        font-weight: 400;
        color: var(--text-title-post-color);
        font-size: 21px;
        line-height: normal;

        a{
            color: var(--text-title-post-color);
            text-decoration: none;

            &:hover{
                color: var(--text-hover-link);
            }
        }
    }

    p{
        padding-bottom: 0;
        margin-top: 16px;
        display: block;
        margin-bottom: 0;
        color: #959393;
        font-size: 17px;
        line-height: 25px;
    }

    &:hover{
        .thumb{
            img{
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
            }
        }
    }

    .social{
        a{
            color: var(--text-title-post-color);
            text-decoration: none;
            display: inline-block;
            padding-right: 10px;

            &:hover{
                color: var(--text-hover-link);
            }
        }
    }
}

.project-heading{
    text-align: left !important;
    font-size: 28px !important;
}

.grid-item{
    height: 100%;
    position: relative;
    background: var(--background-card-header);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--card-shadow);

    .thumb{
        display: block;
        height: 280px;
        overflow: hidden;
        border-radius: 10px;

        img{
            height: 100%;
            width: 100%;
            border-radius: 10px;
            object-fit: cover;
            -webkit-transition: all .3s;
            transition: all .3s;
        }
    }

    .info{
        padding: 16px 24px 24px;

        .heading{
            overflow: hidden;
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            word-break: break-word;
            font-weight: 600;
            color: var(--text-title-post-color);
            font-size: 18px;
            line-height: normal;

            a{
                color: var(--text-title-post-color);
                text-decoration: none;

                &:hover{
                    color: var(--text-hover-link);
                }
            }
        }

        .creator{
            @include post-creator;
        }
    }

    &:hover{
        .thumb{
            img{
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
            }
        }
    }
}

.list-item{
    .creator{
        @include post-creator;
    }

    height: 100%;
    position: relative;
    background: var(--background-card-header);;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--card-shadow);
    flex-direction: unset;
    height: 245px;
    display: flex;

    .thumb{
        display: block;
        height: 245px;
        max-height: unset;
        max-width: 245px;
        width: 245px;
        border-radius: 10px;

        img{
            height: 100%;
            width: 245px;
            border-radius: 10px;
            object-fit: cover;
            -webkit-transition: all .3s;
            transition: all .3s;
            display: block;
            max-width: unset;
            max-height: unset;
        }

        a{
            border-radius: 10px;
            overflow: hidden;
            height: 100%;
            display: block;
        }
    }

    &:hover{
        .thumb{
            img{
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
            }
        }
    }

    .info{
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        justify-content: space-between;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        -webkit-flex-grow: 1;
        -moz-box-flex: 1;
        flex-grow: 1;
        padding: 16px 24px 24px;

        .heading{
            overflow: hidden;
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            word-break: break-word;
            font-weight: 600;
            color: var(--text-title-post-color);
            font-size: 18px;
            line-height: normal;

            a{
                color: var(--text-title-post-color);
                text-decoration: none;

                &:hover{
                    color: var(--text-hover-link);
                }
            }
        }
    }

    p{
        padding-bottom: 0;
        margin-top: 16px;
        display: block;
        margin-bottom: 0;

        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-break: break-word;
        justify-self: flex-start;
        color: var(--text-description-color);
        font-size: 17px;
        line-height: 25px;
    }

    @media (max-width: 768px){
        height: 120px;

        .thumb{
            height: 120px;
            max-width: 120px;
            width: 120px !important;
        }

        p{
            display: none;
        }

        .info{
            .heading{
                -webkit-line-clamp: 3;
                font-size: 18px;
            }
        }

        .creator{
            margin-top: 0;
        }
    }
}

@media (max-width: 768px){
    .block-news-list{
        .list-item{
            .info{
                padding-top: 5px;
                padding-bottom: 5px; 
            }
        }
    }
}
.container-news{
    .block-heading{
        @include block-heading;
    }
}

.list-news{
    .col-lg-12{
        .list-item{
            .thumb{
                -webkit-flex: 0 0 50%;
                -moz-box-flex: 0;
                flex: 0 0 50%;
                max-width: -webkit-calc(50% - 15px);
                max-width: calc(50% - 15px);
                height: unset;
                max-height: unset;

                img{
                    width: 100%;
                }
            }

            @media (max-width: 768px){
                height: 120px;
        
                .thumb{
                    height: 120px;
                    max-width: 120px;
                    width: 120px !important;
                }
            }
        }
    }
}

.container-author{
    padding: 32px;
    padding-bottom: 0;
    position: relative;

    &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-image: var(--background-author-page);
        backdrop-filter: blur(44px);
        -webkit-backdrop-filter: blur(44px);
        z-index: -2;
        border-radius: 16px;
    }

    .author-cover{
        position: absolute;
        width: 100%;
        max-height: 290px;
        top: 0;
        left: 0;
        z-index: -3;
        opacity: 1;
        object-fit: cover;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }

    .authorInfoContainer{
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        -webkit-align-items: center;
        -moz-box-align: center;
        align-items: center;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        justify-content: space-between;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column;
        position: relative;
        margin-bottom: 12px;
        -webkit-flex-direction: row;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        flex-direction: row;
        -webkit-align-items: center;
        -moz-box-align: center;
        align-items: center;
        padding: 65px 40px 35px;

        &:after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: var(--background-author-page-info);
            border-radius: 1.6rem;
            z-index: -1;
            opacity: .12;
        }

        .authorInfoLeft{
            display: -webkit-flex;
            display: -moz-box;
            display: flex;
            -webkit-align-items: center;
            -moz-box-align: center;
            align-items: center;
            width: 45%;
            -webkit-flex-direction: column;
            -moz-box-orient: vertical;
            -moz-box-direction: normal;
            flex-direction: column;
            -webkit-flex-direction: row;
            -moz-box-orient: horizontal;
            -moz-box-direction: normal;
            flex-direction: row;

            .authorInfoAvatar{
                border-radius: 50%;
                object-fit: cover;
                margin-bottom: 10px;
                margin-right: 24px;
                margin-bottom: 0;
                width: 132px;
                height: 132px;
            }

            .authorInfoName{
                display: -webkit-flex;
                display: -moz-box;
                display: flex;
                -webkit-flex-direction: column;
                -moz-box-orient: vertical;
                -moz-box-direction: normal;
                flex-direction: column;
                -webkit-justify-content: center;
                -moz-box-pack: center;
                justify-content: center;
                -webkit-align-items: center;
                -moz-box-align: center;
                align-items: center;

                .authorUserName{
                    margin-bottom: 12px;
                    font-weight: bold;

                    h4{
                        font-size: 28px;
                        color: blue;
                        font-weight: bold;
                    }

                    div{
                        font-size: 15px;
                        color: blue;
                        margin-top: 2px;
                    }
                }
            }

            .boxPostNumber{
                display: -webkit-flex;
                display: -moz-box;
                display: flex;
                font-size: 24px;
                line-height: unset;
                color: blue;
                padding: 4px 30px;
                position: relative;
                -webkit-align-items: center;
                -moz-box-align: center;
                align-items: center;
                min-width: 120px;
                white-space: nowrap;
                -webkit-justify-content: center;
                -moz-box-pack: center;
                justify-content: center;
                position: relative;

                &:after {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 50%;
                    width: 100%;
                    height: 100%;
                    max-width: 200px;
                    min-width: 100px;
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                    background-color: #fff;
                    opacity: .08;
                    border-radius: 30px;
                }

                h4{
                    font-size: 24px;
                    line-height: 24px;
                    color: var(--text-hover-link);
                    font-weight: 600;
                    margin-right: 8px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-bottom: 0;
                }
            }
        }
    }

    .authorPostHeadTabs{
        font-size: 16px;
        margin-bottom: 50px;
        position: relative;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        justify-content: space-between;
        -webkit-align-items: center;
        -moz-box-align: center;
        align-items: center;
        -webkit-flex-direction: row;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        flex-direction: row;

        &:after {
            position: absolute;
            content: "";
            left: 0;
            width: 100%;
            height: 1px;
            background-color: rgba(204, 204, 204, .5);
            bottom: -10px;
        }

        .authorHeadContent{
            display: -webkit-flex;
            display: -moz-box;
            display: flex;
            -webkit-align-items: center;
            -moz-box-align: center;
            align-items: center;
            -webkit-justify-content: space-between;
            -moz-box-pack: justify;
            justify-content: space-between;
            padding: 0 1.6rem;
            margin-bottom: 0;
            -webkit-justify-content: unset;
            -moz-box-pack: unset;
            justify-content: unset;

            .authorTabItem{
                cursor: pointer;
                -webkit-transition: all .3s;
                transition: all .3s;
                color: blue;
                display: -webkit-flex;
                display: -moz-box;
                display: flex;
                -webkit-align-items: center;
                -moz-box-align: center;
                align-items: center;
                line-height: 0;
                border-radius: 8px;
                -webkit-justify-content: unset;
                -moz-box-pack: unset;
                justify-content: unset;
                margin-right: 16px;
                padding: 12px 24px;

                img{
                    width: 20px;
                    height: 20px;
                    margin-right: 8px;
                }

                &.authorTabItemActive{
                    color: blue;
                }
            }
        }
    }
}

.contentWrapperNormal{
    max-width: 1915px;
    margin: 0 auto;

    .minHeight{
        overflow: unset;
        min-height: -webkit-calc(100vh - 92px);
        min-height: calc(100vh - 92px);
    }

    main{
        font-size: 17px;
        background-position: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        max-width: 100%;
        margin: 0 auto;
        padding-bottom: 0;
        padding-left: 17px;
        padding-right: 17px;

        .contentWrapper{
            position: relative;
            margin-right: 0;
            margin-left: 0;

            .colRight{
                display: block;
                padding-left: 12px !important;
                max-width: 435px;
                width: 435px;
                padding-right: 0;

                .colRightSticky{
                    position: sticky;
                    position: -webkit-sticky;
                    top: 92px;
                }
            }

            .colLeft{
                width: 325px;
                max-width: 325px;
                display: block;
                padding-right: 12px !important;

                .colLeftSticky{
                    position: sticky;
                    position: -webkit-sticky;
                    top: 92px;
                    height: -webkit-calc(100vh - 90px);
                    height: calc(100vh - 90px);
                    overflow: auto;
                    border-radius: 10px;
                }

                .boxColLeft{
                    position: relative;
                    background: var(--content-background-linear);
                    -webkit-box-shadow: var(--card-shadow);
                    box-shadow: var(--card-shadow);
                    color: var(--text-title-post-color);
                    border-radius: 10px;
                    z-index: -3;

                    .blurWrapper{
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        z-index: -1;

                        &:before {
                            position: absolute;
                            border-radius: 8px;
                            top: 0;
                            right: 0;
                            left: 0;
                            bottom: 0;
                            content: "";
                        }
                    }

                    .block-heading{
                        margin-bottom: 25px;
                        display: -webkit-flex;
                        display: -moz-box;
                        display: flex;
                        -webkit-align-items: center;
                        -moz-box-align: center;
                        align-items: center;
                        font-weight: 500;
                        color: var(--text-detail-title);
                        font-size: 15px;
                    }

                    .boxColLeftWrap{
                        padding: 20px 24px;
                    }

                    ul{
                        max-height: -webkit-calc(100vh - 400px);
                        max-height: calc(100vh - 400px);
                        overflow: auto;
                        scrollbar-width: none;
                        margin: 0;
                        padding: 0;

                        li{
                            margin: 0;
                            padding: 0;
                            list-style: none;
                            padding: 8px 5px;
                            border-radius: 10px;
                            margin-bottom: 4px;
                            cursor: pointer;
                            font-weight: normal !important;

                            .textNumber{
                                display: -webkit-flex;
                                display: -moz-box;
                                display: flex;
                                min-width: 24px;
                                height: 24px;
                                -webkit-justify-content: center;
                                -moz-box-pack: center;
                                justify-content: center;
                                margin-right: 7px;
                            }

                            ul{
                                padding-left: 12px;

                                img{
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
            }

            .colCenter{
                padding: 0 12px !important;
            }

            .postContent{
                min-height: 700px;
                border-radius: 10px;
                color: var(--text-title-post-color);
                -webkit-box-shadow: var(--card-shadow);
                box-shadow: var(--card-shadow);
                position: relative;
                z-index: 1;
                background: unset;
                padding: 24px 0 32px;
                background: var(--content-background-linear);

                .post-title{
                    font-size: 28px;
                    padding-left: 20px;
                    padding-right: 20px;
                    font-weight: bold;
                }

                .infoWrapper{
                    -webkit-flex-wrap: nowrap;
                    flex-wrap: nowrap;
                    margin-bottom: 10px;
                    -webkit-flex-direction: row;
                    -moz-box-orient: horizontal;
                    -moz-box-direction: normal;
                    flex-direction: row;

                    .creator{
                        @include post-creator;
                    }
                }

                .pd50{
                    padding-left: 20px;
                    padding-right: 20px;
                }

                .textDescription{
                    font-size: 18px;
                    line-height: 34px;
                    margin-bottom: 24px;
                    letter-spacing: .3px;
                    color: var(--text-description-post-detail);
                }

                .postContentWrapper{
                    width: 100%;
                    max-width: 100%;
                    overflow: hidden;
                    font-size: 18px;
                    line-height: 2;
                    color: var(--text-title-post-color);
                    overflow-wrap: break-word;

                    img{
                        max-width: 100%;
                        border-radius: 10px;
                        display: inline-block !important;
                    }

                    h2 {
                        font-size: 32px;
                        line-height: normal;
                        margin: 32px 0 20px;
                        font-weight: bolder;
                        letter-spacing: .3px;
                    }
                }
            }

            .thumbnailWrapper{
                width: 100%;
                position: relative;
                padding: 0;
                overflow: hidden;
                margin-bottom: 40px;

                .thumbnailBox{
                    width: 100%;
                    border-radius: 1rem;
                    overflow: hidden;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        -o-object-fit: cover;
                        -webkit-transition: all .3s;
                        transition: all .3s;
                    }
                }

                &:hover{
                    img{
                        -webkit-transform: scale(1.2);
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}

.container-detail{
    color: var(--text-title-color);

    .cd-title{
        font-size: 32px;
        font-weight: bold;
    }

    .cd-text-description{
        font-size: 18px;
        line-height: 34px;
        margin-bottom: 24px;
        letter-spacing: .3px;
        color: var(--text-description-post-detail);
    }

    .cd-post-content-wrapper{
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        font-size: 18px;
        line-height: 2;
        color: var(--text-title-post-color);
        overflow-wrap: break-word;

        img{
            max-width: 100%;
            border-radius: 10px;
            cursor: pointer;
            display: block;
            object-fit: contain;
        }

        h2 {
            font-size: 32px;
            line-height: normal;
            margin: 32px 0 20px;
            font-weight: bolder;
            letter-spacing: .3px;
        }
    }

    .cd-thumbnail-wrapper{
        width: 100%;
        position: relative;
        padding: 0;
        overflow: hidden;
        margin-bottom: 40px;

        .thumbnail-box{
            width: 100%;
            border-radius: 1rem;
            overflow: hidden;
            // height: 284px;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                -o-object-fit: cover;
                -webkit-transition: all .3s;
                transition: all .3s;
            }
        }

        &:hover{
            img{
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
            }
        }
    }

    .creator{
        @include post-creator;
    }

    .listTag{
        .hashTag{
            background: var(--background-card-header) !important;
            box-shadow: var(--card-shadow) !important;
            color: var(--text-title-post-color) !important;
        }
    }

    .cd-content{
        position: relative;

        .colContent{
            padding-left: 275px;
            position: relative;
            z-index: 2;

            &.no-colLeft{
                padding-left: 0 !important;
            }
        }
    }

    .colLeft{
        width: 250px;
        max-width: 250px;
        display: block;
        position: absolute;
        position: -webkit-fixed;
        top: 0;
        overflow: auto;
        border-radius: 10px;
        left: 0;
        height: -webkit-calc(100vh - 200px);
        height: calc(100vh - 200px);
        left: 0;
        z-index: 9;
        

        .boxColLeft{
            position: relative;
            background: var(--content-background-linear);
            -webkit-box-shadow: var(--card-shadow);
            box-shadow: var(--card-shadow);
            color: var(--text-title-post-color);
            border-radius: 10px;

            .blurWrapper{
                height: 100%;
                width: 100%;
                position: absolute;
                z-index: -1;

                &:before {
                    position: absolute;
                    border-radius: 8px;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    content: "";
                }
            }

            .block-heading{
                margin-bottom: 25px;
                display: -webkit-flex;
                display: -moz-box;
                display: flex;
                -webkit-align-items: center;
                -moz-box-align: center;
                align-items: center;
                font-weight: 500;
                color: var(--text-detail-title);
                font-size: 15px;
            }

            .boxColLeftWrap{
                padding: 20px 24px;

                > ul{
                    max-height: -webkit-calc(100vh - 40px);
                    max-height: calc(100vh - 40px);
                    overflow: auto;
                    scrollbar-width: none;
                    margin: 0;
                    padding: 0;
                    z-index: 3;
    
                    li{
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        padding: 8px 16px;
                        border-radius: 10px;
                        margin-bottom: 4px;
                        cursor: pointer;
                        z-index: 3;
    
                        .textNumber{
                            display: -webkit-flex;
                            display: -moz-box;
                            display: flex;
                            min-width: 24px;
                            height: 24px;
                            -webkit-justify-content: center;
                            -moz-box-pack: center;
                            justify-content: center;
                            margin-right: 12px;
                        }

                        ul{
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}

.listTag{
    flex-wrap: wrap;

    a{
        text-decoration: none;

        .hashTag{
            font-size: 13px;
            padding: 8px 16px;
            max-height: 32px;
            color: var(--text-color);
            display: -webkit-flex;
            display: -moz-box;
            display: flex;
            -webkit-justify-content: space-between;
            -moz-box-pack: justify;
            justify-content: space-between;
            -webkit-align-items: center;
            -moz-box-align: center;
            align-items: center;
            border-radius: 8px;
            margin-right: 16px;
            background-color: var(--background-hash-tag-item);
            cursor: pointer;
            margin-bottom: 16px;
            -webkit-transition: all .3s;
            transition: all .3s;
        }

        &:hover{
            .hashTag{
                color: #cfb160;
            }
        }
    }
}

.block-menu-cats{
    margin-bottom: 10px;

    .block-heading{
        text-align: center;
        font-size: 38px;
        color: var(--text-title-color);
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .menu-item{
        position: relative;
        background: var(--background-card-header);
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 1px 24px 0 rgb(0 0 0 / 10%);
        text-align: center;
        padding: 15px 0;
        margin-bottom: 20px;

        div{
            overflow: hidden;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            word-break: break-word;
            font-weight: 600;
            font-size: 18px;
            text-decoration: none;
            padding-top: 20px;
        }

        img{
            height: 80px;
            width: 80px;
        }

        a{
            text-decoration: none;
            color: var(--text-title-post-color);

            &:hover{
                color: var(--text-hover-link);;
            }
        }
    }

    &.block-menu-projects{
        .menu-item{
            span{
                height: 80px !important;
                display: flex;
                padding: 0 20px;
                align-items: center;
                justify-content: center;

                img{
                    max-width: 100% !important;
                    max-height: 80px !important;
                    width: unset;
                    height: unset;
                }
            }
        }
    }
}

.theme-icon{
    display: none;
}

.container-projects{
    .listTag{
        .hashTag{
            background: var(--background-card-header) !important;
            box-shadow: var(--card-shadow) !important;
            color: var(--text-title-post-color) !important;
        }
    }
}

@media (max-width: 768px){
    .colCenter{
        .postContent{
            .post-title{
                font-size: 24px !important;
            }
        } 
    }
}

[data-theme=light]{
    .icon-light{
        display: inline-block;
    }

    .navbar{
        .has-child{
            > a >
            span{
                background: url(../images/iconDropdownHeaderLight.svg);
            }
        }
    }
}

[data-theme=dark]{
    .icon-dark{
        display: inline-block;
    }
}